body {
/*	background-color: lightpink;
*/}

p {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	font-weight: 800;
}
.attribution { 
	font-size: 11px; text-align: center; 
}
.attribution a { 
	color: hsl(228, 45%, 44%); 
}


.ad-text-section {
	background-image: url('images/bg-pattern-desktop.svg');
	text-align: left;
	padding-left: 10rem;
	padding-right: 10rem;
}

.logo-image {
	margin-top: 2.5rem;
	margin-bottom: 10rem;
}


.light-bold-text {
	color: #ea9a96;
	margin-bottom: 0;
}

.coming {
	margin-bottom: 0;
}
.soon {
	margin-bottom: 2rem;
}
.message {
	color: #ea9a96;
	font-size: 16px;
}

/*15 50 30 5*/
.email-box {
	margin: 0 auto 0 auto;
	background: none;
    border: 1px solid black;
    border-radius: 30px;
    color: #ea9a96;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    height: 50px;
    margin-right: 17px;
    padding-left: 35px;
    width: 70%;
    cursor: default;
    margin-top: 2.5rem;
}

div button {
	border-radius: 30px;
	position: relative;
	right: 25%;
	height: 50px;
	width: 24%;
	background-color: #ff9595;
}